# Assignment 3

### Write a function to count the number 4 in a given list.

In [68]:
list = [1,2,2,3,5,4,4,7,4,5,2,2,8,9,7,4,4]

print(list.count(4))

5

### write a  function to check whether a number is divisible by another number.

In [13]:
def divOrNot(x,y):
    if (x%y == 0):
        return True
    else:
        return False
    
a = divOrNot (1,10)
b = divOrNot (20,5)

print(a)
print(b)

False
True

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [24]:
def minmax(seq):
    return max(seq) , min(seq)
    
print(minmax([-5,-4,-3,-2,-1,0,1,2,3,4,5]))

(5, -5)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [45]:
def common(lst1 , lst2):
    set1 = set(lst1)
    set2 = set(lst2)
    if(len(set1.intersection(set2)) ==1):
        return True
    else:
        return False
    
common([1,2,3,4,5],[5,6,7,8,9,10])

True

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [58]:
def getfact():
    num = int(input('enter a non negative integer number to get its factorial,' ' '))
    fact = 1
    for i in range(1,num+1):
        fact*=i
    return fact

getfact()

enter a non negative integer number to get its factorial, 5

120

 Write a Python function to check whether a number is in a given range.

 The range is from 3 to 11

In [80]:
def range(x):
    if x >= 3 and x <= 11 :
        return True
    else:
        return False
    
x = int(input('enter your number to find it in range[3,11]'))

print(range(x))

enter your number to find it in range[3,11]5
True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [112]:
def mul_table(x):
    for i in range(1,11):
        print("{y} x {i} = {y*i}")
        
       
n=int(input('enter a num to see its multiplication table : '))


print(mul_table(n))

enter a num to see its multiplication table : 9

TypeError: range() takes 1 positional argument but 2 were given

 LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [116]:
def lesser_of_two_evens(n1,n2):
    if (n1 % 2 ==0 and n2 % 2 ==0):
        return (n1 , n2)
    else:
        return max(n1 , n2)
    
print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

(2, 4)
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [128]:
def animal_crackers(st):
    st_list = st.split()
    if (st_list[0][0].lower() == st_list[1][0].lower()):
        return True
    else:
        return False
    
print(animal_crackers('levelheaded liama'))
print(animal_crackers('crazy kangaroo'))

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [139]:
def makes_twenty(n1 , n2):
    if (n1==20 or n2==20 or n1+n2==20):
        return True
    else:
        return False
    
print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [141]:
def almost_there(n):
    if (abs(n-100)<=10  or abs(n-200)<=10):
        return True
    else:
        return False
        
print(almost_there(90)) 
print(almost_there(104)) 
print(almost_there(150)) 
print(almost_there(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [144]:
def blackjack(n1, n2, n3):
    if(n1+n2+n3 <=21):
        return n1+n2+n3
    else:
        if(11 in [n1, n2, n3]):
            return (n1+n2+n3 - 10)
        else:
            return "Bust"

print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
Bust
19